.track-controls {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.audio-div {
    display: none;
}

.controls-button {
    padding: 1rem 2rem;
    border: 1px solid #303080;
    background-color: #303080;
    color: white;
    border-radius: 5px;
    margin: 0 0.5rem;
}

.controls-button:hover {
    cursor: pointer;
    border: 1px solid #9066e3;
    background-color: #9066e3;
}