.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sound-pads {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.sound-pads p {
    text-align: center;
}

.beat-title {
    text-align: center;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
