.track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-pads {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.sound-pads-container {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.sound-pads p {
    text-align: center;
}

.beat-button {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    margin: 0 1rem;
}

.beat-button:hover {
    border: 1px solid #d3cbe8;
    background-color: #d3cbe8;
}

.beat-title {
    text-align: center;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid #303080;
    border-radius: 5px;
    padding: 0.5rem 3rem;
}